.card-services{
border: 1px solid rgba(128, 128, 128, 0.103);
border-radius: 10px;
padding: 10px;
margin: 10px;
background-color: rgba(255, 255, 255, 0.089);

}
.card-services img{
    height: 200px;
    width: 300px;
}